/* A minimalist set of CSS resets */

/* Default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: black;
  color: white; 
}

h1 {
  font-family: trebuchet ms, arial, sans-serif;
  color: white;
}

button {
  padding: 25px;
  border-radius: 20px;
}

#gameButtonArea button {
  flex-basis: calc(25% - 10px);
  flex-grow: 0;
  flex-shrink: 0;
  margin: 5px;
  height:200px;
}

.hidden {
  display: none;
}

#button1 {
  background: lightgreen;
}

#button1:active, #button1.lit {
  background: green;
}

#button2 {
  background: lightblue;
}

#button2:active, #button2.lit {
  background: blue;
}

#button3 {
  background: pink;
}

#button3:active, #button3.lit {
  background: red;
}

#button4 {
  background: lightyellow;
}

#button4:active, #button4.lit {
  background: yellow;
}

#button5 {
  background: fuchsia;
}

#button5:active, #button5.lit {
  background: darkmagenta;
}

#button6 {
  background: white;
}

#button6:active, #button6.lit {
  background: grey;
}

#button7 {
  background: orange;
}

#button7:active, #button7.lit {
  background: saddlebrown;
}

#button8 {
  background: gold;
}

#button8:active, #button8.lit {
  background: goldenrod;
}

/* Images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

#gameButtonArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#button1,
#button2,
#button3,
#button4 {
  order: 1;
}

#button5,
#button6,
#button7,
#button8 {
  order: 2;
}

button span {
  display: block;
  text-align: center;
}

.game-button span {
  display: none;
  font-size: 24px; /* Change to desired size */
}

.game-button.show-note span {
  display: inline;
}

.notes-label {
  margin-left: 20px; /* adjust the value as needed */
}